:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #252a2b;
    --border-color: #dbdbdb;
    --background-color-gray: #f3f3f3;
    --money-color: #de1616;
}
* {
    box-sizing: inherit;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.btn--active {
    color: var(--white-color);
    background-color: #25aef5;
}

/* modal */

.modal {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    display: none;
}

@keyframes fadeTop {
    from {
        transform: translateY(-100px);
        opacity: 0;
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadebottom {
    from {
        transform: translateY(30px);
        opacity: 0;
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form {
    position: absolute;
    top: 5%;
    width: 360px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
    display: none;
    position: relative;
    animation: fadeTop ease-in-out 0.3s;
}

.back {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 40px;
    min-height: 40px;
    border: 0;
    font-size: 2rem;
    color: #333;
    background-color: #fff;
    cursor: pointer;
}

.back:hover {
    color: #1ac7b6;
}
.form .heading-left {
    font-size: 2rem;
}

.form .heading-right {
    font-size: 1.4rem;
    color: #f33a58;
    cursor: pointer;
}

.form .heading-right:hover {
    opacity: 0.8;
}
.form .desc {
    text-align: center;
    color: #636d77;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
}

.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
    position: relative;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label.content {
    text-align: right;
    color: #f33a58;
    cursor: pointer;
}

.form-label {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.4rem;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
}

.show-password {
    position: absolute;
    top: 35%;
    right: 4px;
    height: 40px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.form-control:hover {
    border-color: #1dbfaf;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-group .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
}

.error-order {
    font-size: 2rem;
    line-height: 2rem;
    padding: 4px 0 0;
    color: #f33a58;
}

.form-submit {
    outline: none;
    background-color: #1dbfaf;
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #1ac7b6;
}

.spacer {
    margin-top: 24px;
}

.modal--active {
    display: flex;
}
.form--active {
    display: block;
}

/* toast */

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 225px;
    max-width: 150px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s ;
}

@keyframes slideInLeft {
    from {
        opacity: 0.01;
        transform: translatex(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translatex(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast--success {
    display: flex;
    align-items: center;
    color: #47d864;
}

.toast--infor {
    color: #2f86eb;
}

.toast--warning {
    color: #ffc021;
}

.toast--error {
    color: #ff623d;
}

.toast + .toast {
    margin-top: 24px;
}
.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__icon--img {
    width: 25px;
}

.toast__body {
   flex-grow: 1;
}

.toast__title {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__msg {
    text-align: left;
    font-size: 14px;
    color: #888;
    line-height: 1.5;
}

.toast__close--img {
    width: 25px;
    cursor: pointer;
}
.toast__close--img:hover {
    opacity: 0.7;
}

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 10;
}

.form--hidden {
    display: none;
}
/* js */

.js--hidden {
    display: none !important;
}

.setting--active {
    display: block;
}

.setting {
    cursor: pointer;
    position: relative;
}

.admin {
    cursor: pointer;
}

.setting-list {
    position: absolute;
    top: calc(100% + 20px);
    left: 0;
    padding: 0;
    list-style: none;
    color: #333;
    font-size: 1.6rem;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 1px 2px 0 #999;
    display: none;
}

.setting-list::before {
    cursor: pointer;
    position: absolute;
    display: none;
    content: '';
    top: -39%;
    right: 24%;
    z-index: 3;
    border-width: 20px 20px;
    border-color: transparent transparent rgba(0, 0, 0, 0.05) transparent;
    border-style: solid;
}

.setting-item {
    padding: 4px 8px;
    margin: 8px 0;
    cursor: pointer;
}

.setting-item:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
}

.search--active {
    display: flex;
}

.overlay--active {
    display: block;
}

.cart--active {
    transform: translateX(0);
    opacity: 1;
}

.item--hidden {
    display: none;
}

.showcart--active {
    display: flex;
}

.container-admin--active {
    display: flex;
}

/* ADMIN SETTING  Trung Tiền */

.list_setting
{
    cursor: pointer;
}
.admin_setting
{
    
    width: 7%;
    position: relative;
}
.admin_setting:hover .admin_list::after,
.admin_setting:hover .admin_list
{
    display: block;
}
.list_setting
{
    padding: 8px;
}
.admin_list
{   
    z-index: 3;
    top: 50px;
    background-color: #ffffff;
    position: absolute;
    right: -70%;
    list-style: none;
    display: none;
    padding: 0;
    width: 170px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}
.admin_list::after
{
    position: absolute;
    content: '';
    display: none;
    top: -31%;
    right: 4%;
    border-width: 20px 20px;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
    border-style: solid;
}
.admin_list-items
{
    font-size: 15px;
    margin: 15px 0px;
    padding: 0 5px;
    color: rgb(3, 3, 3);
    cursor: pointer;
}
.admin-list
{
  background-color: #252a2b;
  list-style: none;
  padding: 0px;
}
.col-3
{
    flex: 0.2;
}

.admin-list_items p
{
    display: inline-block;
    margin-right: 30px;
}
.admin-list_items
{
    color: rgb(183, 188, 189);
    border-top: 0.5px solid rgb(83, 73, 73);
    border-bottom: 0.5px solid rgb(83, 73, 73);
    padding: 12px;
    text-align: left;
    font-size: 14px;
}
.subadmin-list
{
    position: relative;
    text-align: left;
    padding: 0;
}
.subadmin-list_items
{
    list-style: none;
    border-bottom: 0.5px solid rgb(83, 73, 73);
    padding: 12px 0 12px 60px;
    top: 50px;
    cursor: pointer;
}

.subadmin-list_items:hover {
    color: #333;
    background-color: #fff;
}

.subadmin-list_items:nth-child(1),
.subadmin-list_items:nth-child(4) {
    margin-top: 8px;
}

.none-border
{
    border-bottom: none;
}

.menu-icon
{
   position: absolute;
left: auto;
}
/* END */

.admin-right {
    flex: 0.8;
    display: flex;
}

.admin-right-list {
    
    padding: 15px;
    width: 95%;
    height: 90%;
    margin: auto;
    list-style: none;
    background-color: #fff;
    overflow-y: auto;
}

.admin-right-list__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 8px 0;
    border: 1px solid #999;
}

.admin-right-img {
    width: 7%
}

.admin-right-price,
.admin-right-name {
    font-size: 1.8rem;
}

.admin-right-name {
    width: 250px;
    height: auto;
    text-align: left;
}

.admin-right-price {
    color: #f33a58;
    width: 120px;
    text-align: right;
    height: auto;;
}

.orders-list,
.ask {
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.orders-container,
.ask-container {
    background-color: white;
    width: auto;
    height: auto;
    margin: auto;
    border-radius: 5px;
}

.ask-content {
    font-size: 2rem;
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

.save,
.no,
.yes {
    border: 0;
    font-size: 1.6rem;
    padding: 12px;
    border-radius: 10px;
    background-color: #1ac7b6;
    color: #fff;
    cursor: pointer;
}

.save:active,
.no:active,
.yes:active {
    transform: scale(0.95);
}

.save,
.yes {
    background-color: #f33a58;
}

.input-img {
    margin: 12px 0 12px 40%;
    display: block;
}

.preview-img {
    width: 40%;
    margin-left: 30%;
    display: block;
}

.label-input {
    font-size: 2rem;
}

.input-name {
    height: 40px;
    margin-left: 8px;
    font-size: 1.6rem;
    padding-left: 8px;
}

.input-price {
    height: 40px;
    margin-left: 8px;
    font-size: 1.6rem;
    padding-left: 8px;
}

.add-list-item {
    display: block;
    border: 0;
    border-radius: 10px;
    background-color: #1ac7b6;
    color: #fff;
    padding: 12px;
    margin: 20px 0 20px 45%;
    cursor: pointer;
    font-size: 1.6rem;
}

.error-input-name {
    color: #f33a58;
    font-size: 1.6rem;
    margin-top: 12px;
    width: 100%;
    text-align: right;
}

.add-list-item:active {
    transform: scale(0.95);
}

.ask--active {
    display: flex;
}

.edit {
    font-size: 1.6rem;
    padding: 12px;
    border-radius: 10px;
    background-color: #1dbfaf;
    border: 0;
    color: #fff;
    cursor: pointer;
}

.edit:active {
    transform: scale(0.95);
}

/* pay */

.modal-pay {
    z-index: 20;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.modal-pay--active {
    display: flex;
}

.container-order {
    width: auto;
    height: auto;
    margin: auto;
    background-color: #fff;
    list-style: none;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    font-size: 1.8rem;
}

.order-label {
    margin-right: 20px;
}

.order-input {
    width: 270px;
    min-height: 40px;
    font-size: 1.6rem;
    padding-left: 8px;
}

.order {
    min-height: 40px;
    font-size: 1.6rem;
    border: 0;
    color: #fff;
    border-radius: 10px;
    background-color: #1ac7b6;
    cursor: pointer;
    padding: 12px;
}

.order:active {
    opacity: 0.8;
    transform: scale(0.95);
}

.order-close {
    cursor: pointer;
    position: absolute;
    font-size: 3rem;
    top: -2px;
    right: 4px;
    border: 0;
    background-color: transparent;
    padding: 4px;
}

.order-content {
    margin-right: 6px;
}

.order-wrap {
    display: flex;
    margin: 0 12px;
    align-items: center;
}

/* infor detail */

.details-list__item {
    min-width: 100%;
    height: 100%;
    display: flex;
    font-size: 1.6rem;
    justify-content: space-between;
}

.details-list__item-img-wrap {
    width: 60%;
    height: auto;
    display: flex;
}

.details-list__item-img-wrap-backgroup {
    width: 90%;
    height: 480px;
    margin: 20px;
}

.details-list__item-wrap {
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    justify-content: space-between;
}

.wrap-header {
    min-height: 42px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
} 

.wrap-header__btn-back {
    height: 40px;
    font-size: 3rem;
    color: #000;
    border: 0;
    border-radius: 3px;
    margin: 4px;
    cursor: pointer;
    padding: 4px 8px 8px 12px;
    background-color: transparent;
}

.wrap-header__btn-back:hover {
    opacity: 0.8;
}

.details-list__heading {
    font-size: 2rem;
    line-height: 20px;
    margin: 4px;
    text-transform: capitalize;
}

.details-list__item-wrap-sp {
    margin: 4px 4px;
    line-height: 1.7rem;
}

.details-list__item-wrap-price span {
    font-size: 1.8rem;
    color: var(--money-color);
}

.details-list__item-wrap-time span {
    color: #105f7e;
}

.details-list__item-wrap-day span {
    color: #79310b;
}

.details-list__item-wrap-address span {
    color: #726a01;
}

.details-list__item-wrap-stasus {
    display: flex;
    align-items: center;  
}

.status {
    width: 100px;
}

.switch {
    width: 100px;
    height: 50px;
    appearance: none;
    background-color: red;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.3);
    margin-left: 30px;
}

.switch-content {
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 1.4rem;
    top: 3px;
    left: 3px;
    width: 44px;
    height: 44px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    transition: 0.5s cubic-bezier(.44,-0.65,.54,1.55);
    color: #000;
}

.switch-content--active {
    left: 54px;
}

.switch--active {
    background-color: rgb(0, 255, 64);
}

.label-statistical {
    font-size: 2rem;
    line-height: 20px;
    margin: 8px 0;
}

.input-statistical {
    min-height: 40px;
    font-size: 1.8rem;
    line-height: 20px;
    padding-left: 8px;
}

.search-Statistical {
    font-size: 2rem;
    background-color: #1dbfaf;
    border: 0;
    border-radius: 10px;
    color: #fff;
    margin-top: 20px;
    padding: 8px;
}

.search-Statistical:active {
    opacity: 0.8;
    transform: scale(0.95);
    cursor: pointer;
}

.class--active { 
    color: #f33a58 !important;
}

.input-name-user {
    height: 30px;
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding-left: 8px;
}

.input-name-user-icon {
    cursor: pointer;
    font-size: 2rem;
    margin-left: 8px;
}