.main {
    width: 100%;
    height: 100vh;
}

.fixed {
    z-index: 5;
    width: 100%;
    height: 0;
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.5s cubic-bezier(.31,-0.25,.56,1.46);
}

.right {
    display: flex;
    height: 30px;
    font-size: 1.6rem;
}

.user {
    display: flex;
    align-items: center;
    margin-right: 20px;
    position: relative;
}

.user:hover .user-setting {
    display: block;
}

.user-name {
    margin-left: 8px;
}

@keyframes userScale {
    from {
        transform: scale(0);
        opacity: 0;
    } to {
        transform: scale(1);
        opacity: 1;
    }
}

.user-setting {
    z-index: 1;
    position: absolute;
    top: calc(100% + 8px);
    width: 150px;
    right: 0;
    padding: 0;
    font-size: 1.6rem;
    list-style: none;
    background-color: #fafafa;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    display: none;
    transform-origin: top right;
    animation: userScale ease 0.3s;
}

.user::after {
    position: absolute;
    content: '';
    bottom: -7px;
    width: 100%;
    height: 15px;
}

.user-setting__item {
    padding: 6px 12px;
    cursor: pointer;
}

.user-setting__item:hover {
    background-color: #25aef5;
    color: #fff;
}

.heading-container__wrap {
    min-width: 1230px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 10px;
    padding: 0 60px;
}

.heading-wrap-left {
    flex: 1;
    margin-top: 4px;
}

.heading-wrap-left__img{
    max-width: 100%;
    height: 70px;
    cursor: pointer;
}

.heading-wrap-container {
    flex: 2;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.heading-wrap-container__input {
    background: #f5f5f5;
    color: #252a2b;
    width: 100%;
    border: none;
    height: 55px;
    font-size: 15px;
    font-weight: 500;
    padding: 0 55px 0 20px;
    margin: 0;
    display: inline-block;
    border-radius: 0;
}

.advanced-search {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
    width: 150%;
    height: 80px;
    top: calc(100% + 3px);
    left: -25%;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 #999;
    font-size: 1.6rem;
    display: none;
}

.sort {
    width: 33.33334%;
    display: flex;
    flex-wrap: wrap;
}

.sort-heading {
    width: 100%;
    text-align: center;
    margin: 4px 0;
}

.sort-item {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
    cursor: pointer;
}

.sort-content {
    margin-left: 4px;
}

.classify {
    width: 33.33334%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.classify-content {
    width: 100%;
    text-align: center;
    margin-top: 8px;
    height: 16px;
}

.classify-list {
    width: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-top: -8px;
}

.classify-item {
    width: 33.33334%;
    height: 16px;
}

.classify-item:nth-child(5),
.classify-item:nth-child(4) {
    width: 50%;
}

.price-range {
    width: 33.33334%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.price-range-content {
    width: 100%;
    text-align: center;
    margin: 8px 0;
}

.range {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
}

.range input {
    padding-left: 8px;
    width: 50%;
    font-size: 1.5rem;
    margin-left: 12px;
}


.heading-wrap-container__btn {
    width: 55px;
    height: 55px;
    line-height: 64px;
    position: absolute;
    padding: 0;
    top: 0px;
    right: 0px;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.heading-wrap-container__icon {
    width: 25px;
    height: 22px;
    opacity: 0.3;
    font-size: 2rem;
}

.error-sreach {
    position: absolute;
    font-size: 1.6rem;
    top: calc(100% + 1px);
    left: 3%;
    color: #f33a58;
}

.heading-wrap-right {
    flex: 1;
    font-size: 2.4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.heading-wrap-right__icon {
    margin-top: 4px;
    font-size: 2.5rem;
    width: 32px;
    height: 24px;
    cursor: pointer;
    position: relative;
}
.cart-quantity-fixed,
.cart-quantity {
    font: sans-serif;
    font-size: 1.3rem;
    position: absolute;
    top: -50%;
    right: -30%;
    width: 25px;
    height: 25px;
    background-color: #25aef5;
    color: #fff;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    display: none;
}

.cart-quantity-fixed {
    top: -40%;
    right: -5%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 1.2rem;
}

.overlay {
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.cart {
    position: fixed;
    transform: translateX(100%);
    z-index: 11;
    top: 0;
    bottom: 0;
    right: 0;
    min-width: 450px;
    padding: 50px 50px 0px 50px;
    background-color: #fff;
    opacity: 0;
    transition: 0.6s ease;
}

.order-items {
    position: fixed;
    transform: translateX(-100%);
    z-index: 11;
    top: 0;
    bottom: 0;
    left: 0;
    min-width: 550px;
    padding: 50px 50px 0px 50px;
    background-color: #fff;
    opacity: 0;
    transition: 0.6s ease;
}

.cart-heading {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.close {
    font-size: 4.5rem;
    cursor: pointer;
}

.cart-container {
    font-size: 1.6rem;
    margin-bottom: 20px;
    border-bottom: 3px solid #000;
}

.cart-container__content {
    margin-bottom: 20px;
}

.cart-list {
    line-height: 20px;
    max-height: 50vh;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
    overflow-y: auto;
}

.order-list {
    line-height: 20px;
    max-height: 80vh;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
    overflow-y: auto;
}

.cart-item {
    margin: 8px 0 0 4px;
    display: flex;
    justify-content: space-between;
}

.cart-img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.cart-item__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.item-price {
    min-width: 90px;
    color: #f33a58;
}

.item-name {
    width: 100%;
    line-height: 18px;
    min-height: 36px;
    text-align: left;
}

.cart-item__right-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.plus_1,
.plus {
    margin: 0 5px;
    cursor: pointer;
    padding: 8px 4px;
}

.minus_1,
.minus {
    margin: 0 5px;
    cursor: pointer;
    padding: 8px 4px;
    
}

.quantity_1,
.quantity {
    width: 50px;
    font-size: 1.6rem;
    outline: none;
    border: 1px solid #999;
    text-align: center;
}

.remove {
    font-size: 3rem;
    cursor: pointer;
    padding: 8px;
    border: 0;
    background-color: transparent;
}

.cart-footer__heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.cart-footer__content,
.cart-content {
    text-transform: uppercase;
    line-height: 20px;
}

.cart-footer__price {
    color: #f94c43;
}

.cart-footer__btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pay {
    border: 0;
    min-height: 40px;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: #f33a58;
    text-transform: uppercase;
}

.pay:hover {
    opacity: 0.9;
}

.pay:active {
    transform: scale(0.95);
}

.register,
.login {
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
    color: #333;
}

.register:hover,
.login:hover {
    opacity: 0.8;
}

.header-footer {
    border-top: 1px solid #eee;
}

.header-footer__list {
    width: 100%;
    height: 46px;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    color: #252a2b;
    font-size: 1.5rem;
}

.header-footer__list-item {
    display: inline-block;
    margin-right: 25px;
    padding: 13px 0 15px;
    cursor: pointer;
    position: relative;
    color: #252a2b;
    text-decoration: none;
}



@keyframes run {
    from {
        opacity: 0;
        width: 0;
    } to {
        opacity: 1;
        width: 100%;
    }
}

.header-footer__list-item::after {
    position: absolute;
    content: '';
    bottom: 0;
    width: 0;
    left: 0;
    opacity: 0;
    border-bottom: 2px solid #f94c43;
    color: #f94c43;
    display: block;
}

.header-footer__list-item:hover {
    color: #f94c43;
}

.header-footer__list-item:hover::after{
    animation: run linear 0.2s;
    width: 100%;
    opacity: 1;
}

.container-heading {
    width: 100%;
    height: 562.5px;
    overflow: hidden;
    position: relative;
}

.list-banner {
    width: calc(400vw + 10px);
    height: 100%;
    transition: 0.8s ease;
}

.banner-btn {
    position: absolute;
    bottom: 1%;
    left: calc(50% - 15px);
    z-index: 4;
}

.choose-banner {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: 1px solid #333;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
    margin: 0 1px;
}

.list-banner__img {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background: url(./img/Banner1.png) center / contain no-repeat
}

.container-content {
    text-align: center;
    margin-top: 50px;
}

.container-content__h2 {
    font-size: 3.7rem;
    min-height: 100px;
    line-height: 100px;
    font-weight: 500;
    text-transform: uppercase;
    color: #333;
}

.container-content__h2:hover {
    opacity: 0.8;
    cursor: default;
}

.container-admin {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
}

.list {
    width: 80%;
    height: 80vh;
    background-color: #fff;
    margin: auto;
    padding: 0;
}

.container-content-information {
    text-align: center;
    margin: 50px 0;
}

.container-content-information__h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 3.7rem;
}

.container-item-selling {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.btn-left {
    z-index: 1;
    position: absolute;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    top: 40%;
    left: 1.5%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.btn-right {
    z-index: 1;
    position: absolute;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    top: 40%;
    right: 1.5%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.container-item-selling__list {
    width: 200vw;
    list-style: none;
    display: block;
    padding: 0;
    color: #fff;
    transition: 0.4s ease;
}

.container-item-selling__list-item {
    width: calc(11.2%);
    height: auto;
    margin: 0 15px;
    color: #333;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.container-item-selling__list-item:hover .btn-wrap {
    height: 80px;
}

.container-item-selling__list-item-img {
    width: 100%;
}

.btn-wrap {
    z-index: 2;
    width: 100%;
    position: absolute;
    bottom: 77px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    transition: 0.2s ease;
    height: 0;
    overflow: hidden;
}

.buy1,
.buy {
    min-height: 40px;
    padding: 0 12px;
    border: 0;
    font-size: 1.6rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: #f33a58;
    color: #fff;
}

.cart-add-detail,
.cart-add {
    min-height: 40px;
    padding: 0 12px;
    font-size: 1.6rem;
    border: 1px solid #f33a58;
    border-radius: 10px;
    cursor: pointer;
    color: #f33a58;
    background-color: #fbe4e8;
}

.cart-add:hover,
.buy:hover {
    opacity: 0.9;
}
.cart-add:active,
.buy:active {
    transform: scale(0.95);
}

.gagination {
    width: 100%;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 30px;
}

.pagination__item-btn {
    width: 40px;
    height: 30px;
    font-size: 16px;
    border-radius: 3px;
    border: 0;
    margin: 0 8px;
    cursor: pointer;
}

.container-item-wrap {
    padding: 20px 0;
}

.container-item-wrap__name {
    text-align: center;
    font-size: 1.6rem;
    line-height: 16px;
    margin-bottom: 4px;
}

.container-item-wrap__price {
    text-align: center;
    font-size: 1.6rem;
    line-height: 16px;
    color: #f94c43;
    font-weight: 600;
}

.container-footer {
    width: 100%;
}

.container-footer__list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    padding: 0;
}

.container-footer__list-item {
    width: calc(100% / 3 - 33px);
    min-height: 300px;
    padding: 0 15px;
}

.container-footer__list-item-img {
    width: 100%;
    margin-bottom: 15px;
}

.container-footer__list-item-date {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.container-footer__list-item-date__item {
    color: #999;
    font-size: 1.3rem;
}

.container-footer__list-item-title {
    width: 100%;
    margin-bottom: 13px;
    padding-bottom: 12px;
    position: relative;
}

.container-footer__list-item-title::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50px;
    height: 2px;
    background: #f59505;
}

.container-footer__list-item-title__item {
    text-transform: uppercase;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 1.8em;
    text-align: center;
    line-height: 22px;
}

.container-footer__list-item-footer {
    width: 100%;
    margin-bottom: 10px;
}

.container-footer__list-item-footer-content {
    line-height: 21px;
    font-size: 1.4rem;
    text-align: center;
}

.footer-heading {
    width: 100%;
    height: auto;
    background-color: #f3f3f3;
    padding: 15px 0;
    color: #252a2b;
    font-size: 1.4rem;
}

.footer-heading__wrap {
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
}

.footer-heading__wrap-register {
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-heading__wrap-register-label {
    margin-right: 20px;
    display: flex;
    align-items: center;
    height: 20px;
    padding-right: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-heading__wrap-register-label-content {
    margin: 0 8px 0 16px;
    font-size: 1.4rem;
    position: relative;
}

.footer-heading__wrap-register-input {
    flex: 1;
    position: relative;
}

.footer-heading__wrap-register-email {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    min-height: 46px;
    padding-left: 20px;
    font-size: 1.4rem;
    margin-right: 16px;
    outline: none;
    background-color: #fbfbfb;
}

@keyframes runColor {
    from {
        width: 0;
    } to {
        width: 100%;
    }
}

.footer-heading__wrap-register-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 13px 25px;
    height: 45px;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    border: 1px solid #000;
    cursor: pointer;
    letter-spacing: 1px;
    background-color: #fbfbfb;
    color: #000;
}

.footer-heading__wrap-register-btn-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    color: #fff;
    width: 100%;
    height: 100%;
    line-height: 43px;
}

.animation-dark {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fbfbfb;
}

.animation-white {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1;
    animation: runColor ease 0.4s;
}


.footer-heading__wrap-register-btn:hover .animation-dark {
    animation: runColor ease 0.4s;
    width: 100%;
}

.footer-heading__wrap-register-btn:hover .animation-white {
    display: none;
    width: 0;
}

.footer-heading__wrap-register-btn:hover .footer-heading__wrap-register-btn-content{
    color: #000;
}

.footer-heading__wrap-register-btn:hover {
    background-color: #000;
}

.footer-heading__wrap-help {
    flex: 1;
    margin-left: 26px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.ti-mobile {
    font-size: 2rem;
    margin-right: 5px;
}

.footer-heading__wrap-help-content {
    font-size: 1.4rem;
    color: #252a2b;
}

.footer-heading__wrap-help-phone-number {
    font-size: 1.4rem;
    color: #ff0000;
    margin-left: 5px;
}

#footer-container {
    padding: 40px 0 30px;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
}

.footer-container__wrap {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1250px;
    font-size: 1.4rem;
}

.footer-wrap-list {
    list-style: none;
    padding: 0;
}

.items-list {
    list-style: none;
    padding: 0;
}

.footer {
    width: 100%;
    padding: 20px 0;
}

.container-content__p {
    font-size: 1.4rem;
    line-height: 21px;
    text-align: center;
}

#footer-container
{
    display: flex;
}
#footer-container .col-1
{
    flex: 1;
    margin-left: 60px;
}
#footer-container .col-2
{
    flex: 0.4;
    margin-left: 15px;
}
#footer-container .describe-title
{
    font-size: 17px;
    margin-top: 25px;
    margin-bottom: 18px;
}
.items-list .items-list_item_info
{
    color: rgb(0, 0, 0);
    font-style: italic;
    margin-bottom: 18px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
.items-list .items-list_item
{
    font-size: 18px;
    margin-bottom: 12px;
    color: #999;
    font-family: 'Courier New', Courier, monospace
}
.icon-info
{
    font-size: 20px;
    margin-right: 20px;
    margin-top: 40px;
    cursor: pointer;
}

/* show san pham */

.showcart-wrap {
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.showcart {
    background-color: white;
    width: 800px;
    height: auto;
    margin: auto;
}

.product-card {
width: 800px;
height: 500px;
position: relative;
box-shadow: 0 2px 7px #dfdfdf;
margin: 0px;
background: #fafafa;
display: flex;
margin-top: 2.5%;
}

.badge {
position: absolute;
left: 0;
top: 5px;
text-transform: uppercase;
font-size: 13px;
font-weight: 700;
background: red;
color: #fff;
padding: 3px 10px;
}

.product-tumb {
display: flex;
align-items: center;
justify-content: center;
padding: 5px;
background: #f0f0f0;
}

.product-tumb img {
max-width: 100%;
max-height: 100%;
}

.product-details {
display: flex;
flex-direction: column;
justify-content: center;
padding: 5px;
}
.product-bottom-details {
overflow: hidden;
border-top: 1px solid #eee;
padding-top: 20px;
}

.product-bottom-details div {
float: left;
width: 100%;
}

.product-price {
font-size: 18px;
color: #fbb72c;
font-weight: 600;
margin-bottom: 20px;
}

.product-price small {
font-size: 80%;
font-weight: 400;
text-decoration: line-through;
display: inline-block;
margin-right: 5px;
}

.link_b{
    display: flex;
    margin: 15px;
    width: 100%;
    justify-content: space-around;
}


.close_showcart {
    right: 0;
    width: 30px;
    height: 30px;
    font-size: 30px;
    border: 0px;
    background-color: transparent;
    position: absolute;
    cursor: pointer;
}

/* Trung Tiền */

#footer-container {
    padding: 40px 0 30px;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
}

.footer-container__wrap {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1250px;
    font-size: 1.4rem;
}

.footer-wrap-list {
    list-style: none;
    padding: 0;
}

.items-list {
    list-style: none;
    padding: 0;
}

.footer {
    width: 100%;
    padding: 20px 0;
}

.container-content__p {
    font-size: 1.4rem;
    line-height: 21px;
    text-align: center;
}

#footer-container
{
    display: flex;
}
#footer-container .col-1
{
    flex: 1;
    margin-left: 60px;
}
#footer-container .col-2
{
    flex: 0.4;
    margin-left: 15px;
}
#footer-container .describe-title
{
    font-size: 17px;
    margin-top: 25px;
    margin-bottom: 18px;
}
.items-list .items-list_item_info
{
    color: rgb(0, 0, 0);
    font-style: italic;
    margin-bottom: 18px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
.items-list .items-list_item
{
    font-size: 18px;
    margin-bottom: 12px;
    color: #999;
    font-family: 'Courier New', Courier, monospace
}
.icon-info
{
    font-size: 20px;
    margin-right: 20px;
    margin-top: 40px;
    cursor: pointer;
}
/* END */

.nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
    font-size: 1.6rem;
    line-height: 16px;
    color: #333;
}

.nav-item {
    margin: 0 15px;
    cursor: pointer;
}

.nav-item:hover {
    opacity: 0.8;
}